# IS 362 - Project # 2
## Data set containing plane accident data by airline and year

### By Jake Kwok and Alexander Doler

In this first cell we import pandas and our airlines CSV containing the data we will be working with. This CSV contains data about plance incidents and fatalities by airline between the years 1985 and 2014. The starting dataset is in wide format.

In [393]:
import pandas as pd
import decimal
pd.set_option('display.max_rows', 1000)

airlines = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/airline-safety/airline-safety.csv')
airlines.head()

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,Aer Lingus,320906734,2,0,0,0,0,0
1,Aeroflot*,1197672318,76,14,128,6,1,88
2,Aerolineas Argentinas,385803648,6,0,0,1,0,0
3,Aeromexico*,596871813,3,1,64,5,0,0
4,Air Canada,1865253802,2,0,0,2,0,0

We first check whether there are any null values. There are none in this dataset.

In [394]:
airlines.isnull().sum()

airline                   0
avail_seat_km_per_week    0
incidents_85_99           0
fatal_accidents_85_99     0
fatalities_85_99          0
incidents_00_14           0
fatal_accidents_00_14     0
fatalities_00_14          0
dtype: int64

In the first block below, we set three new DataFrames to show only the three types of accidents; incidents, fatalities and fatal accidents. We then set two new colums for each; the total accidents between years 1985 to 2014. The following three code blocks show each of the new broken-down dataframes.

In [395]:
incidents = airlines[['airline', 'avail_seat_km_per_week', 'incidents_85_99', 'incidents_00_14']]
fatalities = airlines[['airline', 'avail_seat_km_per_week', 'fatalities_85_99', 'fatalities_00_14']]
fatalAccidents = airlines[['airline', 'avail_seat_km_per_week', 'fatal_accidents_85_99', 'fatal_accidents_00_14']]
dfList = [incidents, fatalities, fatalAccidents]



for df in dfList:
    df['Total'] = df[[2,3]].sum(axis=1)
    seats = df.avail_seat_km_per_week
    df['Rate'] = df['Total'].div(seats)

In [396]:
print('Incidents:')
dfList[0].sort_values('Rate', ascending=False).head(10)

Incidents:

,airline,avail_seat_km_per_week,incidents_85_99,incidents_00_14,Total,Rate
1,Aeroflot*,1197672318,76,6,82,6.846614e-08
22,Ethiopian Airlines,488560643,25,5,30,6.140486e-08
35,Pakistan International,348563137,8,10,18,5.164057e-08
38,Royal Air Maroc,295705339,5,3,8,2.705396e-08
55,Xiamen Airlines,430462962,9,2,11,2.555388e-08
24,Garuda Indonesia,613356665,10,4,14,2.282522e-08
36,Philippine Airlines,413007158,7,2,9,2.179139e-08
20,Egyptair,557699891,8,4,12,2.151695e-08
40,Saudi Arabian,859673901,7,11,18,2.093817e-08
44,Sri Lankan / AirLanka,325582976,2,4,6,1.842848e-08

In [397]:
print('Fatalities:')
dfList[1].sort_values('Rate', ascending=False).head(10)

Fatalities:

,airline,avail_seat_km_per_week,fatalities_85_99,fatalities_00_14,Total,Rate
29,Kenya Airways,277414794,0,283,283,1.020133e-06
16,China Airlines,813216487,535,225,760,9.345605e-07
13,Avianca,396922563,323,0,323,8.137607e-07
35,Pakistan International,348563137,234,46,280,8.032978e-07
6,Air India*,869253552,329,158,487,5.602508e-07
34,Malaysia Airlines,1039171244,34,537,571,5.494763e-07
20,Egyptair,557699891,282,14,296,5.307514e-07
22,Ethiopian Airlines,488560643,167,92,259,5.301287e-07
25,Gulf Air,301379762,0,143,143,4.744844e-07
24,Garuda Indonesia,613356665,260,22,282,4.597651e-07

In [398]:
print('Fatal Accidents:')
dfList[2].sort_values('Rate', ascending=False).head(10)

Fatal Accidents:

,airline,avail_seat_km_per_week,fatal_accidents_85_99,fatal_accidents_00_14,Total,Rate
35,Pakistan International,348563137,3,2,5,1.434460e-08
22,Ethiopian Airlines,488560643,5,2,7,1.432780e-08
1,Aeroflot*,1197672318,14,1,15,1.252429e-08
36,Philippine Airlines,413007158,4,1,5,1.210633e-08
38,Royal Air Maroc,295705339,3,0,3,1.014523e-08
16,China Airlines,813216487,6,1,7,8.607794e-09
24,Garuda Indonesia,613356665,3,2,5,8.151864e-09
46,TACA,259373346,1,1,2,7.710893e-09
13,Avianca,396922563,3,0,3,7.558149e-09
29,Kenya Airways,277414794,0,2,2,7.209421e-09

In [399]:
print('Top 10 airlines with highest incident rates between 1985 and 2014:\n')
print(incidents.groupby('airline').Total.mean().sort_values(ascending=False).head(10))
print('\n-----------------------------------------------------------------')
print('Top 10 airlines with lowest incident rates between 1985 and 2014:\n')
print(incidents.groupby('airline').Total.mean().sort_values(ascending=True).head(10))

Top 10 airlines with highest incident rates between 1985 and 2014:

airline
Aeroflot*                     82
Delta / Northwest*            48
American*                     38
United / Continental*         33
Ethiopian Airlines            30
US Airways / America West*    27
Air France                    20
Pakistan International        18
Saudi Arabian                 18
Turkish Airlines              16
Name: Total, dtype: int64

-----------------------------------------------------------------
Top 10 airlines with lowest incident rates between 1985 and 2014:

airline
TAP - Air Portugal    0
Virgin Atlantic       1
Hawaiian Airlines     1
Finnair               1
Aer Lingus            2
El Al                 2
Condor                2
Austrian Airlines     2
Cathay Pacific*       2
LAN Airlines          3
Name: Total, dtype: int64

In [400]:
#long_incidents = pd.melt(incidents, id_vars=['airline'], value_vars=['incidents_85_99', 'incidents_00_14'], var_name="Year", value_name="Amount")
#long_incidents.replace(to_replace=["incidents_85_99", "incidents_00_14"], value=["85-99", "00-14"])

## Converting the dataset from wide to long form

In the code below, we convert the dataset into long form, which may be more desirable if the data must be imported into a database, as it is much more scalable and makes some calculations much easier than if the data were in wide format. Further, we also break down the colums that specify type of accident and year in order to create two new, scalable columns.

In [401]:
def wide_to_long(dataframe):
    counter = 0
    #Melt dataframe into long format
    long_airlines = pd.melt(dataframe, id_vars=['airline', 'avail_seat_km_per_week', 'Type'], value_vars=['incidents_85_99', 'incidents_00_14', 'fatalities_85_99', 'fatalities_00_14', 'fatal_accidents_85_99', 'fatal_accidents_00_14'], var_name="Year", value_name="Amount")
    for index, row in long_airlines.iterrows():
        #print(row.iloc[2])
        #Set Type
        if "incidents" in row[3]:
            long_airlines.ix[counter, 'Type'] = 'Incidents'
        elif "fatalities" in row[3]:
            long_airlines.ix[counter, 'Type'] = 'Fatalities'
        elif "accidents" in row[3]:
            long_airlines.ix[counter, 'Type'] = 'Fatal Accidents'
        counter+=1
    #Set Years
    long_airlines = long_airlines.replace(to_replace=["incidents_85_99", "incidents_00_14", 'fatalities_85_99', 'fatalities_00_14', 'fatal_accidents_85_99', 'fatal_accidents_00_14'], value=["85-99", "00-14", "85-99", "00-14", "85-99", "00-14"])

    return long_airlines
    
    
wide_to_long(airlines)

,airline,avail_seat_km_per_week,Type,Year,Amount
0,Aer Lingus,320906734,Incidents,85-99,2
1,Aeroflot*,1197672318,Incidents,85-99,76
2,Aerolineas Argentinas,385803648,Incidents,85-99,6
3,Aeromexico*,596871813,Incidents,85-99,3
4,Air Canada,1865253802,Incidents,85-99,2
5,Air France,3004002661,Incidents,85-99,14
6,Air India*,869253552,Incidents,85-99,2
7,Air New Zealand*,710174817,Incidents,85-99,3
8,Alaska Airlines*,965346773,Incidents,85-99,5
9,Alitalia,698012498,Incidents,85-99,7
10,All Nippon Airways,1841234177,Incidents,85-99,3
11,American*,5228357340,Incidents,85-99,21
12,Austrian Airlines,358239823,Incidents,85-99,1
13,Avianca,396922563,Incidents,85-99,5
14,British Airways*,3179760952,Incidents,85-99,4
15,Cathay Pacific*,2582459303,Incidents,85-99,0
16,China Airlines,813216487,Incidents,85-99,12
17,Condor,417982610,Incidents,85-99,2
18,COPA,550491507,Incidents,85-99,3
19,Delta / Northwest*,6525658894,Incidents,85-99,24
20,Egyptair,557699891,Incidents,85-99,8
21,El Al,335448023,Incidents,85-99,1
22,Ethiopian Airlines,488560643,Incidents,85-99,25
23,Finnair,506464950,Incidents,85-99,1
24,Garuda Indonesia,613356665,Incidents,85-99,10
25,Gulf Air,301379762,Incidents,85-99,1
26,Hawaiian Airlines,493877795,Incidents,85-99,0
27,Iberia,1173203126,Incidents,85-99,4
28,Japan Airlines,1574217531,Incidents,85-99,3
29,Kenya Airways,277414794,Incidents,85-99,2
30,KLM*,1874561773,Incidents,85-99,7
31,Korean Air,1734522605,Incidents,85-99,12
32,LAN Airlines,1001965891,Incidents,85-99,3
33,Lufthansa*,3426529504,Incidents,85-99,6
34,Malaysia Airlines,1039171244,Incidents,85-99,3
35,Pakistan International,348563137,Incidents,85-99,8
36,Philippine Airlines,413007158,Incidents,85-99,7
37,Qantas*,1917428984,Incidents,85-99,1
38,Royal Air Maroc,295705339,Incidents,85-99,5
39,SAS*,682971852,Incidents,85-99,5
40,Saudi Arabian,859673901,Incidents,85-99,7
41,Singapore Airlines,2376857805,Incidents,85-99,2
42,South African,651502442,Incidents,85-99,2
43,Southwest Airlines,3276525770,Incidents,85-99,1
44,Sri Lankan / AirLanka,325582976,Incidents,85-99,2
45,SWISS*,792601299,Incidents,85-99,2
46,TACA,259373346,Incidents,85-99,3
47,TAM,1509195646,Incidents,85-99,8
48,TAP - Air Portugal,619130754,Incidents,85-99,0
49,Thai Airways,1702802250,Incidents,85-99,8
50,Turkish Airlines,1946098294,Incidents,85-99,8
51,United / Continental*,7139291291,Incidents,85-99,19
52,US Airways / America West*,2455687887,Incidents,85-99,16
53,Vietnam Airlines,625084918,Incidents,85-99,7
54,Virgin Atlantic,1005248585,Incidents,85-99,1
55,Xiamen Airlines,430462962,Incidents,85-99,9
56,Aer Lingus,320906734,Incidents,00-14,0
57,Aeroflot*,1197672318,Incidents,00-14,6
58,Aerolineas Argentinas,385803648,Incidents,00-14,1
59,Aeromexico*,596871813,Incidents,00-14,5
60,Air Canada,1865253802,Incidents,00-14,2
61,Air France,3004002661,Incidents,00-14,6
62,Air India*,869253552,Incidents,00-14,4
63,Air New Zealand*,710174817,Incidents,00-14,5
64,Alaska Airlines*,965346773,Incidents,00-14,5
65,Alitalia,698012498,Incidents,00-14,4
66,All Nippon Airways,1841234177,Incidents,00-14,7
67,American*,5228357340,Incidents,00-14,17
68,Austrian Airlines,358239823,Incidents,00-14,1
69,Avianca,396922563,Incidents,00-14,0
70,British Airways*,3179760952,Incidents,00-14,6
71,Cathay Pacific*,2582459303,Incidents,00-14,2
72,China Airlines,813216487,Incidents,00-14,2
73,Condor,417982610,Incidents,00-14,0
74,COPA,550491507,Incidents,00-14,0
75,Delta / Northwest*,6525658894,Incidents,00-14,24
76,Egyptair,557699891,Incidents,00-14,4
77,El Al,335448023,Incidents,00-14,1
78,Ethiopian Airlines,488560643,Incidents,00-14,5
79,Finnair,506464950,Incidents,00-14,0
80,Garuda Indonesia,613356665,Incidents,00-14,4
81,Gulf Air,301379762,Incidents,00-14,3
82,Hawaiian Airlines,493877795,Incidents,00-14,1
83,Iberia,1173203126,Incidents,00-14,5
84,Japan Airlines,1574217531,Incidents,00-14,0
85,Kenya Airways,277414794,Incidents,00-14,2
86,KLM*,1874561773,Incidents,00-14,1
87,Korean Air,1734522605,Incidents,00-14,1
88,LAN Airlines,1001965891,Incidents,00-14,0
89,Lufthansa*,3426529504,Incidents,00-14,3
90,Malaysia Airlines,1039171244,Incidents,00-14,3
91,Pakistan International,348563137,Incidents,00-14,10
92,Philippine Airlines,413007158,Incidents,00-14,2
93,Qantas*,1917428984,Incidents,00-14,5
94,Royal Air Maroc,295705339,Incidents,00-14,3
95,SAS*,682971852,Incidents,00-14,6
96,Saudi Arabian,859673901,Incidents,00-14,11
97,Singapore Airlines,2376857805,Incidents,00-14,2
98,South African,651502442,Incidents,00-14,1
99,Southwest Airlines,3276525770,Incidents,00-14,8
100,Sri Lankan / AirLanka,325582976,Incidents,00-14,4
101,SWISS*,792601299,Incidents,00-14,3
102,TACA,259373346,Incidents,00-14,1
103,TAM,1509195646,Incidents,00-14,7
104,TAP - Air Portugal,619130754,Incidents,00-14,0
105,Thai Airways,1702802250,Incidents,00-14,2
106,Turkish Airlines,1946098294,Incidents,00-14,8
107,United / Continental*,7139291291,Incidents,00-14,14
108,US Airways / America West*,2455687887,Incidents,00-14,11
109,Vietnam Airlines,625084918,Incidents,00-14,1
110,Virgin Atlantic,1005248585,Incidents,00-14,0
111,Xiamen Airlines,430462962,Incidents,00-14,2
112,Aer Lingus,320906734,Fatalities,85-99,0
113,Aeroflot*,1197672318,Fatalities,85-99,128
114,Aerolineas Argentinas,385803648,Fatalities,85-99,0
115,Aeromexico*,596871813,Fatalities,85-99,64
116,Air Canada,1865253802,Fatalities,85-99,0
117,Air France,3004002661,Fatalities,85-99,79
118,Air India*,869253552,Fatalities,85-99,329
119,Air New Zealand*,710174817,Fatalities,85-99,0
120,Alaska Airlines*,965346773,Fatalities,85-99,0
121,Alitalia,698012498,Fatalities,85-99,50
122,All Nippon Airways,1841234177,Fatalities,85-99,1
123,American*,5228357340,Fatalities,85-99,101
124,Austrian Airlines,358239823,Fatalities,85-99,0
125,Avianca,396922563,Fatalities,85-99,323
126,British Airways*,3179760952,Fatalities,85-99,0
127,Cathay Pacific*,2582459303,Fatalities,85-99,0
128,China Airlines,813216487,Fatalities,85-99,535
129,Condor,417982610,Fatalities,85-99,16
130,COPA,550491507,Fatalities,85-99,47
131,Delta / Northwest*,6525658894,Fatalities,85-99,407
132,Egyptair,557699891,Fatalities,85-99,282
133,El Al,335448023,Fatalities,85-99,4
134,Ethiopian Airlines,488560643,Fatalities,85-99,167
135,Finnair,506464950,Fatalities,85-99,0
136,Garuda Indonesia,613356665,Fatalities,85-99,260
137,Gulf Air,301379762,Fatalities,85-99,0
138,Hawaiian Airlines,493877795,Fatalities,85-99,0
139,Iberia,1173203126,Fatalities,85-99,148
140,Japan Airlines,1574217531,Fatalities,85-99,520
141,Kenya Airways,277414794,Fatalities,85-99,0
142,KLM*,1874561773,Fatalities,85-99,3
143,Korean Air,1734522605,Fatalities,85-99,425
144,LAN Airlines,1001965891,Fatalities,85-99,21
145,Lufthansa*,3426529504,Fatalities,85-99,2
146,Malaysia Airlines,1039171244,Fatalities,85-99,34
147,Pakistan International,348563137,Fatalities,85-99,234
148,Philippine Airlines,413007158,Fatalities,85-99,74
149,Qantas*,1917428984,Fatalities,85-99,0
150,Royal Air Maroc,295705339,Fatalities,85-99,51
151,SAS*,682971852,Fatalities,85-99,0
152,Saudi Arabian,859673901,Fatalities,85-99,313
153,Singapore Airlines,2376857805,Fatalities,85-99,6
154,South African,651502442,Fatalities,85-99,159
155,Southwest Airlines,3276525770,Fatalities,85-99,0
156,Sri Lankan / AirLanka,325582976,Fatalities,85-99,14
157,SWISS*,792601299,Fatalities,85-99,229
158,TACA,259373346,Fatalities,85-99,3
159,TAM,1509195646,Fatalities,85-99,98
160,TAP - Air Portugal,619130754,Fatalities,85-99,0
161,Thai Airways,1702802250,Fatalities,85-99,308
162,Turkish Airlines,1946098294,Fatalities,85-99,64
163,United / Continental*,7139291291,Fatalities,85-99,319
164,US Airways / America West*,2455687887,Fatalities,85-99,224
165,Vietnam Airlines,625084918,Fatalities,85-99,171
166,Virgin Atlantic,1005248585,Fatalities,85-99,0
167,Xiamen Airlines,430462962,Fatalities,85-99,82
168,Aer Lingus,320906734,Fatalities,00-14,0
169,Aeroflot*,1197672318,Fatalities,00-14,88
170,Aerolineas Argentinas,385803648,Fatalities,00-14,0
171,Aeromexico*,596871813,Fatalities,00-14,0
172,Air Canada,1865253802,Fatalities,00-14,0
173,Air France,3004002661,Fatalities,00-14,337
174,Air India*,869253552,Fatalities,00-14,158
175,Air New Zealand*,710174817,Fatalities,00-14,7
176,Alaska Airlines*,965346773,Fatalities,00-14,88
177,Alitalia,698012498,Fatalities,00-14,0
178,All Nippon Airways,1841234177,Fatalities,00-14,0
179,American*,5228357340,Fatalities,00-14,416
180,Austrian Airlines,358239823,Fatalities,00-14,0
181,Avianca,396922563,Fatalities,00-14,0
182,British Airways*,3179760952,Fatalities,00-14,0
183,Cathay Pacific*,2582459303,Fatalities,00-14,0
184,China Airlines,813216487,Fatalities,00-14,225
185,Condor,417982610,Fatalities,00-14,0
186,COPA,550491507,Fatalities,00-14,0
187,Delta / Northwest*,6525658894,Fatalities,00-14,51
188,Egyptair,557699891,Fatalities,00-14,14
189,El Al,335448023,Fatalities,00-14,0
190,Ethiopian Airlines,488560643,Fatalities,00-14,92
191,Finnair,506464950,Fatalities,00-14,0
192,Garuda Indonesia,613356665,Fatalities,00-14,22
193,Gulf Air,301379762,Fatalities,00-14,143
194,Hawaiian Airlines,493877795,Fatalities,00-14,0
195,Iberia,1173203126,Fatalities,00-14,0
196,Japan Airlines,1574217531,Fatalities,00-14,0
197,Kenya Airways,277414794,Fatalities,00-14,283
198,KLM*,1874561773,Fatalities,00-14,0
199,Korean Air,1734522605,Fatalities,00-14,0
200,LAN Airlines,1001965891,Fatalities,00-14,0
201,Lufthansa*,3426529504,Fatalities,00-14,0
202,Malaysia Airlines,1039171244,Fatalities,00-14,537
203,Pakistan International,348563137,Fatalities,00-14,46
204,Philippine Airlines,413007158,Fatalities,00-14,1
205,Qantas*,1917428984,Fatalities,00-14,0
206,Royal Air Maroc,295705339,Fatalities,00-14,0
207,SAS*,682971852,Fatalities,00-14,110
208,Saudi Arabian,859673901,Fatalities,00-14,0
209,Singapore Airlines,2376857805,Fatalities,00-14,83
210,South African,651502442,Fatalities,00-14,0
211,Southwest Airlines,3276525770,Fatalities,00-14,0
212,Sri Lankan / AirLanka,325582976,Fatalities,00-14,0
213,SWISS*,792601299,Fatalities,00-14,0
214,TACA,259373346,Fatalities,00-14,3
215,TAM,1509195646,Fatalities,00-14,188
216,TAP - Air Portugal,619130754,Fatalities,00-14,0
217,Thai Airways,1702802250,Fatalities,00-14,1
218,Turkish Airlines,1946098294,Fatalities,00-14,84
219,United / Continental*,7139291291,Fatalities,00-14,109
220,US Airways / America West*,2455687887,Fatalities,00-14,23
221,Vietnam Airlines,625084918,Fatalities,00-14,0
222,Virgin Atlantic,1005248585,Fatalities,00-14,0
223,Xiamen Airlines,430462962,Fatalities,00-14,0
224,Aer Lingus,320906734,Fatal Accidents,85-99,0
225,Aeroflot*,1197672318,Fatal Accidents,85-99,14
226,Aerolineas Argentinas,385803648,Fatal Accidents,85-99,0
227,Aeromexico*,596871813,Fatal Accidents,85-99,1
228,Air Canada,1865253802,Fatal Accidents,85-99,0
229,Air France,3004002661,Fatal Accidents,85-99,4
230,Air India*,869253552,Fatal Accidents,85-99,1
231,Air New Zealand*,710174817,Fatal Accidents,85-99,0
232,Alaska Airlines*,965346773,Fatal Accidents,85-99,0
233,Alitalia,698012498,Fatal Accidents,85-99,2
234,All Nippon Airways,1841234177,Fatal Accidents,85-99,1
235,American*,5228357340,Fatal Accidents,85-99,5
236,Austrian Airlines,358239823,Fatal Accidents,85-99,0
237,Avianca,396922563,Fatal Accidents,85-99,3
238,British Airways*,3179760952,Fatal Accidents,85-99,0
239,Cathay Pacific*,2582459303,Fatal Accidents,85-99,0
240,China Airlines,813216487,Fatal Accidents,85-99,6
241,Condor,417982610,Fatal Accidents,85-99,1
242,COPA,550491507,Fatal Accidents,85-99,1
243,Delta / Northwest*,6525658894,Fatal Accidents,85-99,12
244,Egyptair,557699891,Fatal Accidents,85-99,3
245,El Al,335448023,Fatal Accidents,85-99,1
246,Ethiopian Airlines,488560643,Fatal Accidents,85-99,5
247,Finnair,506464950,Fatal Accidents,85-99,0
248,Garuda Indonesia,613356665,Fatal Accidents,85-99,3
249,Gulf Air,301379762,Fatal Accidents,85-99,0
250,Hawaiian Airlines,493877795,Fatal Accidents,85-99,0
251,Iberia,1173203126,Fatal Accidents,85-99,1
252,Japan Airlines,1574217531,Fatal Accidents,85-99,1
253,Kenya Airways,277414794,Fatal Accidents,85-99,0
254,KLM*,1874561773,Fatal Accidents,85-99,1
255,Korean Air,1734522605,Fatal Accidents,85-99,5
256,LAN Airlines,1001965891,Fatal Accidents,85-99,2
257,Lufthansa*,3426529504,Fatal Accidents,85-99,1
258,Malaysia Airlines,1039171244,Fatal Accidents,85-99,1
259,Pakistan International,348563137,Fatal Accidents,85-99,3
260,Philippine Airlines,413007158,Fatal Accidents,85-99,4
261,Qantas*,1917428984,Fatal Accidents,85-99,0
262,Royal Air Maroc,295705339,Fatal Accidents,85-99,3
263,SAS*,682971852,Fatal Accidents,85-99,0
264,Saudi Arabian,859673901,Fatal Accidents,85-99,2
265,Singapore Airlines,2376857805,Fatal Accidents,85-99,2
266,South African,651502442,Fatal Accidents,85-99,1
267,Southwest Airlines,3276525770,Fatal Accidents,85-99,0
268,Sri Lankan / AirLanka,325582976,Fatal Accidents,85-99,1
269,SWISS*,792601299,Fatal Accidents,85-99,1
270,TACA,259373346,Fatal Accidents,85-99,1
271,TAM,1509195646,Fatal Accidents,85-99,3
272,TAP - Air Portugal,619130754,Fatal Accidents,85-99,0
273,Thai Airways,1702802250,Fatal Accidents,85-99,4
274,Turkish Airlines,1946098294,Fatal Accidents,85-99,3
275,United / Continental*,7139291291,Fatal Accidents,85-99,8
276,US Airways / America West*,2455687887,Fatal Accidents,85-99,7
277,Vietnam Airlines,625084918,Fatal Accidents,85-99,3
278,Virgin Atlantic,1005248585,Fatal Accidents,85-99,0
279,Xiamen Airlines,430462962,Fatal Accidents,85-99,1
280,Aer Lingus,320906734,Fatal Accidents,00-14,0
281,Aeroflot*,1197672318,Fatal Accidents,00-14,1
282,Aerolineas Argentinas,385803648,Fatal Accidents,00-14,0
283,Aeromexico*,596871813,Fatal Accidents,00-14,0
284,Air Canada,1865253802,Fatal Accidents,00-14,0
285,Air France,3004002661,Fatal Accidents,00-14,2
286,Air India*,869253552,Fatal Accidents,00-14,1
287,Air New Zealand*,710174817,Fatal Accidents,00-14,1
288,Alaska Airlines*,965346773,Fatal Accidents,00-14,1
289,Alitalia,698012498,Fatal Accidents,00-14,0
290,All Nippon Airways,1841234177,Fatal Accidents,00-14,0
291,American*,5228357340,Fatal Accidents,00-14,3
292,Austrian Airlines,358239823,Fatal Accidents,00-14,0
293,Avianca,396922563,Fatal Accidents,00-14,0
294,British Airways*,3179760952,Fatal Accidents,00-14,0
295,Cathay Pacific*,2582459303,Fatal Accidents,00-14,0
296,China Airlines,813216487,Fatal Accidents,00-14,1
297,Condor,417982610,Fatal Accidents,00-14,0
298,COPA,550491507,Fatal Accidents,00-14,0
299,Delta / Northwest*,6525658894,Fatal Accidents,00-14,2
300,Egyptair,557699891,Fatal Accidents,00-14,1
301,El Al,335448023,Fatal Accidents,00-14,0
302,Ethiopian Airlines,488560643,Fatal Accidents,00-14,2
303,Finnair,506464950,Fatal Accidents,00-14,0
304,Garuda Indonesia,613356665,Fatal Accidents,00-14,2
305,Gulf Air,301379762,Fatal Accidents,00-14,1
306,Hawaiian Airlines,493877795,Fatal Accidents,00-14,0
307,Iberia,1173203126,Fatal Accidents,00-14,0
308,Japan Airlines,1574217531,Fatal Accidents,00-14,0
309,Kenya Airways,277414794,Fatal Accidents,00-14,2
310,KLM*,1874561773,Fatal Accidents,00-14,0
311,Korean Air,1734522605,Fatal Accidents,00-14,0
312,LAN Airlines,1001965891,Fatal Accidents,00-14,0
313,Lufthansa*,3426529504,Fatal Accidents,00-14,0
314,Malaysia Airlines,1039171244,Fatal Accidents,00-14,2
315,Pakistan International,348563137,Fatal Accidents,00-14,2
316,Philippine Airlines,413007158,Fatal Accidents,00-14,1
317,Qantas*,1917428984,Fatal Accidents,00-14,0
318,Royal Air Maroc,295705339,Fatal Accidents,00-14,0
319,SAS*,682971852,Fatal Accidents,00-14,1
320,Saudi Arabian,859673901,Fatal Accidents,00-14,0
321,Singapore Airlines,2376857805,Fatal Accidents,00-14,1
322,South African,651502442,Fatal Accidents,00-14,0
323,Southwest Airlines,3276525770,Fatal Accidents,00-14,0
324,Sri Lankan / AirLanka,325582976,Fatal Accidents,00-14,0
325,SWISS*,792601299,Fatal Accidents,00-14,0
326,TACA,259373346,Fatal Accidents,00-14,1
327,TAM,1509195646,Fatal Accidents,00-14,2
328,TAP - Air Portugal,619130754,Fatal Accidents,00-14,0
329,Thai Airways,1702802250,Fatal Accidents,00-14,1
330,Turkish Airlines,1946098294,Fatal Accidents,00-14,2
331,United / Continental*,7139291291,Fatal Accidents,00-14,2
332,US Airways / America West*,2455687887,Fatal Accidents,00-14,2
333,Vietnam Airlines,625084918,Fatal Accidents,00-14,0
334,Virgin Atlantic,1005248585,Fatal Accidents,00-14,0
335,Xiamen Airlines,430462962,Fatal Accidents,00-14,0

In this last cell we get the difference between total accidents between the two sets of years. Given that there were 171 less incidents, 3186 less fatalities and 85 less fatal accidents in 2000-2014 than in 1985-1999, there seems to be a trend toward increasing airline safety overall.

In [402]:
difference = wide_to_long(airlines)

total8599 = difference.loc[:, 'Amount'][(difference.loc[:, 'Year'] == '85-99') & (difference.loc[:, 'Type'] == 'Incidents')].sum()
total0014 = difference.loc[:, 'Amount'][(difference.loc[:, 'Year'] == '00-14') & (difference.loc[:, 'Type'] == 'Incidents')].sum()

returnValue = "The total incidents 1985-1999 was --{}--.\nThe total incidents 2000-2014 was --{}--\
\nThe difference in incidents is: --{}--".format(total8599, total0014, (total8599-total0014))
print(returnValue)

The total incidents 1985-1999 was --402--.
The total incidents 2000-2014 was --231--
The difference in incidents is: --171--

In [403]:
total8599 = difference.loc[:, 'Amount'][(difference.loc[:, 'Year'] == '85-99') & (difference.loc[:, 'Type'] == 'Fatalities')].sum()
total0014 = difference.loc[:, 'Amount'][(difference.loc[:, 'Year'] == '00-14') & (difference.loc[:, 'Type'] == 'Fatalities')].sum()

returnValue = "The total fatalities 1985-1999 was --{}--.\nThe total fatalities 2000-2014 was --{}--\
\nThe difference in fatalities is: --{}--".format(total8599, total0014, (total8599-total0014))
print(returnValue)

The total fatalities 1985-1999 was --6295--.
The total fatalities 2000-2014 was --3109--
The difference in fatalities is: --3186--

In [404]:
difference = wide_to_long(airlines)

total8599 = difference.loc[:, 'Amount'][(difference.loc[:, 'Year'] == '85-99') & (difference.loc[:, 'Type'] == 'Fatal Accidents')].sum()
total0014 = difference.loc[:, 'Amount'][(difference.loc[:, 'Year'] == '00-14') & (difference.loc[:, 'Type'] == 'Fatal Accidents')].sum()

returnValue = "The total fatal accidents 1985-1999 was --{}--.\nThe total fatal accidents 2000-2014 was --{}--\
\nThe difference in fatal accidents is: --{}--".format(total8599, total0014, (total8599-total0014))
print(returnValue)

The total fatal accidents 1985-1999 was --122--.
The total fatal accidents 2000-2014 was --37--
The difference in fatal accidents is: --85--